# Web Scraping for Indeed.com & Predicting Salaries

In [20]:
# importing necessary libraries
import requests
import bs4
from bs4 import BeautifulSoup
import urllib
import re
from re import findall
import numpy as np
import pandas as pd
from time import sleep

In [130]:
# Practicing Scraping on one page first
url = "https://www.indeed.com/jobs?q=data+scientist+$20,000&l=Pittsburgh&start=0"

In [131]:
# visiting that url and grabbing the html of page
html = requests.get(url)

In [132]:
# converting into a soup object
b = BeautifulSoup(html.text)

In [133]:
# assuring I get a response of 200
html

In [76]:
# defining function for grabbing titles
def extract_title(result):
    titles = []
    for i in result.find_all(class_='jobtitle'):
        titles.append(i.get_text().strip())
    
    
    return titles

In [41]:
extract_title(b)

[u'Research Scientist - Center for Biomedical Science',
 u'Data Scientist',
 u'Senior Data Engineer (Python, Hadoop, Machine Learning)',
 u'Machine Learning Engineer - Intern',
 u'Analyst, Data & Analytics',
 u'Marketing Data Analyst',
 u'Data Science Intern',
 u'Machine Learning Software Engineer',
 u'Machine Learning Engineer - Intern',
 u'Machine Learning Engineer - Intern',
 u'Junior Data Scientist/Data Scientist',
 u'Tech: Data Analyst',
 u'Data Scientist',
 u'Healthcare & Life Sciences - Data Scientist',
 u'Associate, Data Scientist - Optimization']

Writing functions for extracting the locations, companies, and salaries

In [28]:
def extract_locations(result):
    locations = []
    for i in result.find_all('span', class_='location'):
        locations.append(i.text)
    return locations

In [29]:
def extract_company(result):
    companies = []
    for i in b.find_all('span', class_='company'):
        companies.append(i.get_text().strip())
    return companies

In [30]:
def extract_salary(result):
    salary = []
    for entry in b.find_all('td', class_ = 'snip'):
        match = re.findall('\$[0-9]*.[0-9]* - \$[0-9]*.[0-9]* [a-zA-Z]* [a-zA-Z]*', entry.text)
        if match:
            salary.append(match)
        else:
            salary.append('None')
    return salary

In [31]:
extract_salary(b)

['None',
 'None',
 [u'$150,000 - $200,000 a year'],
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None']

## Scraper

In [258]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city =  500
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.


# htmls = urllib.urlopen(url_template).read()
# converting into a soup object
# bs = BeautifulSoup(html, 'html.parser', from_encoding="utf-8")


titles = []
locations = []
companies = []
salaries = []


for city in set(['Chicago', 'Washington+City+DC', 'Austin', 'San+Diego', 'St.+Louis', 
    'Los+Angeles', 'Dallas', 'Boston', 'Seattle', 'Charlotte', 'Houston',
    'Pittsburgh', 'San+Antonio', 'Phoenix', 'Denver']):
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        sleep(0.3)
        url = url_template.format(city, start)
        htmls = requests.get(url)
        
        # Printing url to track progress
        #print url
            
        # bs = BeautifulSoup(urllib.urlopen(url).read(), 'html.parser')
        bs = BeautifulSoup(htmls.text)
        
        for i in bs.find_all('a', attrs={'data-tn-element': "jobTitle"}):
            titles.append(i.get_text().strip())
            
        # Grabbing Locations
        for i in bs.find_all('span', class_='location'):
            locations.append(i.text)

        # Grabbing Company Names
        for i in bs.find_all('span', class_='company'):
            companies.append(i.get_text().strip())

        # Grabbing Salaries
        for entry in bs.find_all('td', class_='snip'):
            match = re.findall('\$[0-9]*.[0-9]* - \$[0-9]*.[0-9]* [a-zA-Z]* [a-zA-Z]*', entry.text)
            if match:
                salaries.append(match)
            else:
                salaries.append('None')
         
        # printing list lengths to assure efficiency of scraper
        print city + ": " + str(start) + ": " + str(len(titles)) + ", " + str(len(companies)) + ", " + str(len(salaries)) + ", " + str(len(locations))

Charlotte: 0: 15, 15, 15, 15
Charlotte: 10: 30, 30, 30, 30
Charlotte: 20: 45, 45, 45, 45
Charlotte: 30: 60, 60, 60, 60
Charlotte: 40: 75, 75, 75, 75
Charlotte: 50: 90, 90, 90, 90
Charlotte: 60: 104, 104, 104, 104
Charlotte: 70: 119, 119, 119, 119
Charlotte: 80: 134, 134, 134, 134
Charlotte: 90: 159, 159, 159, 159
Charlotte: 100: 174, 174, 174, 174
Charlotte: 110: 189, 189, 189, 189
Charlotte: 120: 204, 204, 204, 204
Charlotte: 130: 219, 219, 219, 219
Charlotte: 140: 234, 234, 234, 234
Charlotte: 150: 249, 249, 249, 249
Charlotte: 160: 264, 264, 264, 264
Charlotte: 170: 279, 279, 279, 279
Charlotte: 180: 294, 294, 294, 294
Charlotte: 190: 309, 309, 309, 309
Charlotte: 200: 324, 324, 324, 324
Charlotte: 210: 339, 339, 339, 339
Charlotte: 220: 354, 354, 354, 354
Charlotte: 230: 369, 369, 369, 369
Charlotte: 240: 384, 384, 384, 384
Charlotte: 250: 399, 399, 399, 399
Charlotte: 260: 414, 414, 414, 414
Charlotte: 270: 429, 429, 429, 429
Charlotte: 280: 444, 444, 444, 444
Charlotte: 290: 459, 459, 459, 459
Charlotte: 300: 474, 474, 474, 474
Charlotte: 310: 489, 489, 489, 489
Charlotte: 320: 504, 504, 504, 504
Charlotte: 330: 519, 519, 519, 519
Charlotte: 340: 534, 534, 534, 534
Charlotte: 350: 549, 549, 549, 549
Charlotte: 360: 564, 564, 564, 564
Charlotte: 370: 579, 579, 579, 579
Charlotte: 380: 594, 594, 594, 594
Charlotte: 390: 609, 609, 609, 609
Charlotte: 400: 624, 624, 624, 624
Charlotte: 410: 639, 639, 639, 639
Charlotte: 420: 654, 654, 654, 654
Charlotte: 430: 669, 669, 669, 669
Charlotte: 440: 684, 684, 684, 684
Charlotte: 450: 699, 699, 699, 699
Charlotte: 460: 714, 714, 714, 714
Charlotte: 470: 729, 729, 729, 729
Charlotte: 480: 744, 744, 744, 744
Charlotte: 490: 759, 759, 759, 759
Phoenix: 0: 774, 774, 774, 774
Phoenix: 10: 789, 789, 789, 789
Phoenix: 20: 804, 804, 804, 804
Phoenix: 30: 819, 819, 819, 819
Phoenix: 40: 834, 834, 834, 834
Phoenix: 50: 849, 849, 849, 849
Phoenix: 60: 864, 864, 864, 864
Phoenix: 70: 879, 879, 879, 879
Phoenix: 80: 894, 894, 894, 894
Phoenix: 90: 909, 909, 909, 909
Phoenix: 100: 924, 924, 924, 924
Phoenix: 110: 939, 939, 939, 939
Phoenix: 120: 954, 954, 954, 954
Phoenix: 130: 969, 969, 969, 969
Phoenix: 140: 984, 984, 984, 984
Phoenix: 150: 999, 999, 999, 999
Phoenix: 160: 1014, 1014, 1014, 1014
Phoenix: 170: 1029, 1029, 1029, 1029
Phoenix: 180: 1044, 1044, 1044, 1044
Phoenix: 190: 1059, 1059, 1059, 1059
Phoenix: 200: 1074, 1074, 1074, 1074
Phoenix: 210: 1089, 1089, 1089, 1089
Phoenix: 220: 1104, 1104, 1104, 1104
Phoenix: 230: 1119, 1119, 1119, 1119
Phoenix: 240: 1134, 1134, 1134, 1134
Phoenix: 250: 1149, 1149, 1149, 1149
Phoenix: 260: 1164, 1164, 1164, 1164
Phoenix: 270: 1179, 1179, 1179, 1179
Phoenix: 280: 1194, 1194, 1194, 1194
Phoenix: 290: 1209, 1209, 1209, 1209
Phoenix: 300: 1224, 1224, 1224, 1224
Phoenix: 310: 1239, 1239, 1239, 1239
Phoenix: 320: 1254, 1254, 1254, 1254
Phoenix: 330: 1269, 1269, 1269, 1269
Phoenix: 340: 1294, 1294, 1294, 1294
Phoenix: 350: 1309, 1309, 1309, 1309
Phoenix: 360: 1324, 1324, 1324, 1324
Phoenix: 370: 1339, 1339, 1339, 1339
Phoenix: 380: 1354, 1354, 1354, 1354
Phoenix: 390: 1369, 1369, 1369, 1369
Phoenix: 400: 1384, 1384, 1384, 1384
Phoenix: 410: 1399, 1399, 1399, 1399
Phoenix: 420: 1414, 1414, 1414, 1414
Phoenix: 430: 1429, 1429, 1429, 1429
Phoenix: 440: 1444, 1444, 1444, 1444
Phoenix: 450: 1459, 1459, 1459, 1459
Phoenix: 460: 1484, 1484, 1484, 1484
Phoenix: 470: 1499, 1499, 1499, 1499
Phoenix: 480: 1514, 1514, 1514, 1514
Phoenix: 490: 1529, 1529, 1529, 1529
Chicago: 0: 1544, 1544, 1544, 1544
Chicago: 10: 1559, 1559, 1559, 1559
Chicago: 20: 1574, 1574, 1574, 1574
Chicago: 30: 1589, 1589, 1589, 1589
Chicago: 40: 1604, 1604, 1604, 1604
Chicago: 50: 1619, 1619, 1619, 1619
Chicago: 60: 1634, 1634, 1634, 1634
Chicago: 70: 1649, 1649, 1649, 1649
Chicago: 80: 1664, 1664, 1664, 1664
Chicago: 90: 1679, 1679, 1679, 1679
Chicago: 100: 1694, 1694, 1694, 1694
Chicago: 110: 1709, 1709, 1709, 1709
Chicago: 120: 1724, 1724, 1724, 1724
Chicago: 130: 1739, 1739, 1739, 1739
Chicago: 140: 1754, 1754, 1754, 1754
Chicago: 150: 1769, 1769, 1769, 1769
Chicago: 160: 1784, 1784, 1784, 1784
Chicago: 170: 1799, 1799, 1799, 1799
Chicago: 180: 1814, 1814, 1814, 1814
Chicago: 190: 1829, 1829, 1829, 1829
Chicago: 200: 1844, 1844, 1844, 1844
Chicago: 210: 1859, 1859, 1859, 1859
Chicago: 220: 1874, 1874, 1874, 1874
Chicago: 230: 1889, 1889, 1889, 1889
Chicago: 240: 1904, 1904, 1904, 1904
Chicago: 250: 1919, 1919, 1919, 1919
Chicago: 260: 1934, 1934, 1934, 1934
Chicago: 270: 1949, 1949, 1949, 1949
Chicago: 280: 1964, 1964, 1964, 1964
Chicago: 290: 1989, 1989, 1989, 1989
Chicago: 300: 2004, 2004, 2004, 2004
Chicago: 310: 2019, 2019, 2019, 2019
Chicago: 320: 2034, 2034, 2034, 2034
Chicago: 330: 2049, 2049, 2049, 2049
Chicago: 340: 2064, 2064, 2064, 2064
Chicago: 350: 2079, 2079, 2079, 2079
Chicago: 360: 2094, 2094, 2094, 2094
Chicago: 370: 2109, 2109, 2109, 2109
Chicago: 380: 2124, 2124, 2124, 2124
Chicago: 390: 2139, 2139, 2139, 2139
Chicago: 400: 2154, 2154, 2154, 2154
Chicago: 410: 2172, 2172, 2172, 2172
Chicago: 420: 2187, 2187, 2187, 2187
Chicago: 430: 2202, 2202, 2202, 2202
Chicago: 440: 2217, 2217, 2217, 2217
Chicago: 450: 2232, 2232, 2232, 2232
Chicago: 460: 2247, 2247, 2247, 2247
Chicago: 470: 2262, 2262, 2262, 2262
Chicago: 480: 2277, 2277, 2277, 2277
Chicago: 490: 2292, 2292, 2292, 2292
Pittsburgh: 0: 2307, 2307, 2307, 2307
Pittsburgh: 10: 2322, 2322, 2322, 2322
Pittsburgh: 20: 2337, 2337, 2337, 2337
Pittsburgh: 30: 2352, 2352, 2352, 2352
Pittsburgh: 40: 2367, 2367, 2367, 2367
Pittsburgh: 50: 2382, 2382, 2382, 2382
Pittsburgh: 60: 2397, 2397, 2397, 2397
Pittsburgh: 70: 2412, 2412, 2412, 2412
Pittsburgh: 80: 2427, 2427, 2427, 2427
Pittsburgh: 90: 2442, 2442, 2442, 2442
Pittsburgh: 100: 2457, 2457, 2457, 2457
Pittsburgh: 110: 2472, 2472, 2472, 2472
Pittsburgh: 120: 2487, 2487, 2487, 2487
Pittsburgh: 130: 2502, 2502, 2502, 2502
Pittsburgh: 140: 2517, 2517, 2517, 2517
Pittsburgh: 150: 2532, 2532, 2532, 2532
Pittsburgh: 160: 2547, 2547, 2547, 2547
Pittsburgh: 170: 2562, 2562, 2562, 2562
Pittsburgh: 180: 2577, 2577, 2577, 2577
Pittsburgh: 190: 2592, 2592, 2592, 2592
Pittsburgh: 200: 2617, 2617, 2617, 2617
Pittsburgh: 210: 2632, 2632, 2632, 2632
Pittsburgh: 220: 2647, 2647, 2647, 2647
Pittsburgh: 230: 2662, 2662, 2662, 2662
Pittsburgh: 240: 2677, 2677, 2677, 2677
Pittsburgh: 250: 2692, 2692, 2692, 2692
Pittsburgh: 260: 2707, 2707, 2707, 2707
Pittsburgh: 270: 2722, 2722, 2722, 2722
Pittsburgh: 280: 2737, 2737, 2737, 2737
Pittsburgh: 290: 2752, 2752, 2752, 2752
Pittsburgh: 300: 2767, 2767, 2767, 2767
Pittsburgh: 310: 2782, 2782, 2782, 2782
Pittsburgh: 320: 2797, 2797, 2797, 2797
Pittsburgh: 330: 2812, 2812, 2812, 2812
Pittsburgh: 340: 2827, 2827, 2827, 2827
Pittsburgh: 350: 2842, 2842, 2842, 2842
Pittsburgh: 360: 2857, 2857, 2857, 2857
Pittsburgh: 370: 2872, 2872, 2872, 2872
Pittsburgh: 380: 2887, 2887, 2887, 2887
Pittsburgh: 390: 2902, 2902, 2902, 2902
Pittsburgh: 400: 2917, 2917, 2917, 2917
Pittsburgh: 410: 2932, 2932, 2932, 2932
Pittsburgh: 420: 2947, 2947, 2947, 2947
Pittsburgh: 430: 2962, 2962, 2962, 2962
Pittsburgh: 440: 2977, 2977, 2977, 2977
Pittsburgh: 450: 2992, 2992, 2992, 2992
Pittsburgh: 460: 3007, 3007, 3007, 3007
Pittsburgh: 470: 3022, 3022, 3022, 3022
Pittsburgh: 480: 3037, 3037, 3037, 3037
Pittsburgh: 490: 3052, 3052, 3052, 3052
Boston: 0: 3077, 3077, 3077, 3077
Boston: 10: 3092, 3092, 3092, 3092
Boston: 20: 3107, 3107, 3107, 3107
Boston: 30: 3122, 3122, 3122, 3122
Boston: 40: 3137, 3137, 3137, 3137
Boston: 50: 3152, 3152, 3152, 3152
Boston: 60: 3167, 3167, 3167, 3167
Boston: 70: 3192, 3192, 3192, 3192
Boston: 80: 3207, 3207, 3207, 3207
Boston: 90: 3222, 3222, 3222, 3222
Boston: 100: 3237, 3237, 3237, 3237
Boston: 110: 3252, 3252, 3252, 3252
Boston: 120: 3267, 3267, 3267, 3267
Boston: 130: 3282, 3282, 3282, 3282
Boston: 140: 3297, 3297, 3297, 3297
Boston: 150: 3312, 3312, 3312, 3312
Boston: 160: 3327, 3327, 3327, 3327
Boston: 170: 3342, 3342, 3342, 3342
Boston: 180: 3357, 3357, 3357, 3357
Boston: 190: 3372, 3372, 3372, 3372
Boston: 200: 3387, 3387, 3387, 3387
Boston: 210: 3402, 3402, 3402, 3402
Boston: 220: 3417, 3417, 3417, 3417
Boston: 230: 3432, 3432, 3432, 3432
Boston: 240: 3457, 3457, 3457, 3457

Boston: 250: 3472, 3472, 3472, 3472
Boston: 260: 3487, 3487, 3487, 3487
Boston: 270: 3502, 3502, 3502, 3502
Boston: 280: 3517, 3517, 3517, 3517
Boston: 290: 3532, 3532, 3532, 3532
Boston: 300: 3547, 3547, 3547, 3547
Boston: 310: 3562, 3562, 3562, 3562
Boston: 320: 3577, 3577, 3577, 3577
Boston: 330: 3592, 3592, 3592, 3592
Boston: 340: 3607, 3607, 3607, 3607
Boston: 350: 3622, 3622, 3622, 3622
Boston: 360: 3637, 3637, 3637, 3637
Boston: 370: 3652, 3652, 3652, 3652
Boston: 380: 3667, 3667, 3667, 3667
Boston: 390: 3682, 3682, 3682, 3682
Boston: 400: 3697, 3697, 3697, 3697
Boston: 410: 3712, 3712, 3712, 3712
Boston: 420: 3727, 3727, 3727, 3727
Boston: 430: 3742, 3742, 3742, 3742
Boston: 440: 3757, 3757, 3757, 3757
Boston: 450: 3772, 3772, 3772, 3772
Boston: 460: 3787, 3787, 3787, 3787
Boston: 470: 3802, 3802, 3802, 3802
Boston: 480: 3817, 3817, 3817, 3817
Boston: 490: 3832, 3832, 3832, 3832
Washington+City+DC: 0: 3847, 3847, 3847, 3847
Washington+City+DC: 10: 3862, 3862, 3862, 3862
Washington+City+DC: 20: 3877, 3877, 3877, 3877
Washington+City+DC: 30: 3892, 3892, 3892, 3892
Washington+City+DC: 40: 3907, 3907, 3907, 3907
Washington+City+DC: 50: 3932, 3932, 3932, 3932
Washington+City+DC: 60: 3947, 3947, 3947, 3947
Washington+City+DC: 70: 3962, 3962, 3962, 3962
Washington+City+DC: 80: 3977, 3977, 3977, 3977
Washington+City+DC: 90: 3992, 3992, 3992, 3992
Washington+City+DC: 100: 4007, 4007, 4007, 4007
Washington+City+DC: 110: 4022, 4022, 4022, 4022
Washington+City+DC: 120: 4037, 4037, 4037, 4037
Washington+City+DC: 130: 4052, 4052, 4052, 4052
Washington+City+DC: 140: 4067, 4067, 4067, 4067
Washington+City+DC: 150: 4092, 4092, 4092, 4092
Washington+City+DC: 160: 4107, 4107, 4107, 4107
Washington+City+DC: 170: 4122, 4122, 4122, 4122
Washington+City+DC: 180: 4137, 4137, 4137, 4137
Washington+City+DC: 190: 4152, 4152, 4152, 4152
Washington+City+DC: 200: 4167, 4167, 4167, 4167
Washington+City+DC: 210: 4182, 4182, 4182, 4182
Washington+City+DC: 220: 4197, 4197, 4197, 4197
Washington+City+DC: 230: 4212, 4212, 4212, 4212
Washington+City+DC: 240: 4227, 4227, 4227, 4227
Washington+City+DC: 250: 4242, 4242, 4242, 4242
Washington+City+DC: 260: 4257, 4257, 4257, 4257
Washington+City+DC: 270: 4272, 4272, 4272, 4272
Washington+City+DC: 280: 4287, 4287, 4287, 4287
Washington+City+DC: 290: 4302, 4302, 4302, 4302
Washington+City+DC: 300: 4317, 4317, 4317, 4317
Washington+City+DC: 310: 4332, 4332, 4332, 4332
Washington+City+DC: 320: 4347, 4347, 4347, 4347
Washington+City+DC: 330: 4362, 4362, 4362, 4362
Washington+City+DC: 340: 4377, 4377, 4377, 4377
Washington+City+DC: 350: 4392, 4392, 4392, 4392
Washington+City+DC: 360: 4407, 4407, 4407, 4407
Washington+City+DC: 370: 4422, 4422, 4422, 4422
Washington+City+DC: 380: 4437, 4437, 4437, 4437
Washington+City+DC: 390: 4452, 4452, 4452, 4452
Washington+City+DC: 400: 4467, 4467, 4467, 4467
Washington+City+DC: 410: 4482, 4482, 4482, 4482
Washington+City+DC: 420: 4497, 4497, 4497, 4497
Washington+City+DC: 430: 4512, 4512, 4512, 4512
Washington+City+DC: 440: 4527, 4527, 4527, 4527
Washington+City+DC: 450: 4542, 4542, 4542, 4542
Washington+City+DC: 460: 4557, 4557, 4557, 4557
Washington+City+DC: 470: 4572, 4572, 4572, 4572
Washington+City+DC: 480: 4587, 4587, 4587, 4587
Washington+City+DC: 490: 4602, 4602, 4602, 4602
Dallas: 0: 4617, 4617, 4617, 4617
Dallas: 10: 4632, 4632, 4632, 4632
Dallas: 20: 4647, 4647, 4647, 4647
Dallas: 30: 4662, 4662, 4662, 4662
Dallas: 40: 4677, 4677, 4677, 4677
Dallas: 50: 4692, 4692, 4692, 4692
Dallas: 60: 4707, 4707, 4707, 4707
Dallas: 70: 4722, 4722, 4722, 4722
Dallas: 80: 4737, 4737, 4737, 4737
Dallas: 90: 4752, 4752, 4752, 4752
Dallas: 100: 4767, 4767, 4767, 4767
Dallas: 110: 4792, 4792, 4792, 4792
Dallas: 120: 4807, 4807, 4807, 4807
Dallas: 130: 4822, 4822, 4822, 4822
Dallas: 140: 4837, 4837, 4837, 4837
Dallas: 150: 4852, 4852, 4852, 4852
Dallas: 160: 4867, 4867, 4867, 4867
Dallas: 170: 4882, 4882, 4882, 4882
Dallas: 180: 4897, 4897, 4897, 4897
Dallas: 190: 4912, 4912, 4912, 4912
Dallas: 200: 4937, 4937, 4937, 4937
Dallas: 210: 4952, 4952, 4952, 4952
Dallas: 220: 4967, 4967, 4967, 4967
Dallas: 230: 4982, 4982, 4982, 4982
Dallas: 240: 4997, 4997, 4997, 4997
Dallas: 250: 5012, 5012, 5012, 5012
Dallas: 260: 5027, 5027, 5027, 5027
Dallas: 270: 5042, 5042, 5042, 5042
Dallas: 280: 5057, 5057, 5057, 5057
Dallas: 290: 5072, 5072, 5072, 5072
Dallas: 300: 5087, 5087, 5087, 5087
Dallas: 310: 5102, 5102, 5102, 5102
Dallas: 320: 5117, 5117, 5117, 5117
Dallas: 330: 5132, 5132, 5132, 5132
Dallas: 340: 5147, 5147, 5147, 5147
Dallas: 350: 5162, 5162, 5162, 5162
Dallas: 360: 5177, 5177, 5177, 5177
Dallas: 370: 5192, 5192, 5192, 5192
Dallas: 380: 5207, 5207, 5207, 5207
Dallas: 390: 5232, 5232, 5232, 5232
Dallas: 400: 5247, 5247, 5247, 5247
Dallas: 410: 5262, 5262, 5262, 5262
Dallas: 420: 5277, 5277, 5277, 5277
Dallas: 430: 5292, 5292, 5292, 5292
Dallas: 440: 5307, 5307, 5307, 5307
Dallas: 450: 5322, 5322, 5322, 5322
Dallas: 460: 5337, 5337, 5337, 5337
Dallas: 470: 5352, 5352, 5352, 5352
Dallas: 480: 5367, 5367, 5367, 5367
Dallas: 490: 5382, 5382, 5382, 5382
Denver: 0: 5397, 5397, 5397, 5397
Denver: 10: 5412, 5412, 5412, 5412
Denver: 20: 5427, 5427, 5427, 5427
Denver: 30: 5442, 5442, 5442, 5442
Denver: 40: 5457, 5457, 5457, 5457
Denver: 50: 5472, 5472, 5472, 5472
Denver: 60: 5487, 5487, 5487, 5487
Denver: 70: 5512, 5512, 5512, 5512
Denver: 80: 5527, 5527, 5527, 5527
Denver: 90: 5542, 5542, 5542, 5542
Denver: 100: 5557, 5557, 5557, 5557
Denver: 110: 5572, 5572, 5572, 5572
Denver: 120: 5587, 5587, 5587, 5587
Denver: 130: 5602, 5602, 5602, 5602
Denver: 140: 5617, 5617, 5617, 5617
Denver: 150: 5632, 5632, 5632, 5632
Denver: 160: 5647, 5647, 5647, 5647
Denver: 170: 5662, 5662, 5662, 5662
Denver: 180: 5677, 5677, 5677, 5677
Denver: 190: 5692, 5692, 5692, 5692
Denver: 200: 5707, 5707, 5707, 5707
Denver: 210: 5722, 5722, 5722, 5722
Denver: 220: 5737, 5737, 5737, 5737
Denver: 230: 5752, 5752, 5752, 5752
Denver: 240: 5767, 5767, 5767, 5767
Denver: 250: 5782, 5782, 5782, 5782
Denver: 260: 5797, 5797, 5797, 5797
Denver: 270: 5812, 5812, 5812, 5812
Denver: 280: 5827, 5827, 5827, 5827
Denver: 290: 5842, 5842, 5842, 5842
Denver: 300: 5857, 5857, 5857, 5857
Denver: 310: 5882, 5882, 5882, 5882
Denver: 320: 5897, 5897, 5897, 5897
Denver: 330: 5912, 5912, 5912, 5912
Denver: 340: 5927, 5927, 5927, 5927
Denver: 350: 5942, 5942, 5942, 5942
Denver: 360: 5957, 5957, 5957, 5957
Denver: 370: 5972, 5972, 5972, 5972
Denver: 380: 5987, 5987, 5987, 5987
Denver: 390: 6002, 6002, 6002, 6002
Denver: 400: 6017, 6017, 6017, 6017
Denver: 410: 6031, 6031, 6031, 6031
Denver: 420: 6046, 6046, 6046, 6046
Denver: 430: 6061, 6061, 6061, 6061
Denver: 440: 6076, 6076, 6076, 6076
Denver: 450: 6091, 6091, 6091, 6091
Denver: 460: 6106, 6106, 6106, 6106
Denver: 470: 6121, 6121, 6121, 6121
Denver: 480: 6136, 6136, 6136, 6136
Denver: 490: 6151, 6151, 6151, 6151
Los+Angeles: 0: 6166, 6166, 6166, 6166
Los+Angeles: 10: 6181, 6181, 6181, 6181
Los+Angeles: 20: 6196, 6196, 6196, 6196
Los+Angeles: 30: 6211, 6211, 6211, 6211
Los+Angeles: 40: 6226, 6226, 6226, 6226
Los+Angeles: 50: 6241, 6241, 6241, 6241
Los+Angeles: 60: 6256, 6256, 6256, 6256
Los+Angeles: 70: 6271, 6271, 6271, 6271
Los+Angeles: 80: 6286, 6286, 6286, 6286
Los+Angeles: 90: 6301, 6301, 6301, 6301
Los+Angeles: 100: 6316, 6316, 6316, 6316
Los+Angeles: 110: 6331, 6331, 6331, 6331
Los+Angeles: 120: 6346, 6346, 6346, 6346
Los+Angeles: 130: 6361, 6361, 6361, 6361
Los+Angeles: 140: 6376, 6376, 6376, 6376
Los+Angeles: 150: 6391, 6391, 6391, 6391
Los+Angeles: 160: 6416, 6416, 6416, 6416
Los+Angeles: 170: 6431, 6431, 6431, 6431
Los+Angeles: 180: 6446, 6446, 6446, 6446
Los+Angeles: 190: 6461, 6461, 6461, 6461
Los+Angeles: 200: 6476, 6476, 6476, 6476
Los+Angeles: 210: 6491, 6491, 6491, 6491
Los+Angeles: 220: 6506, 6506, 6506, 6506
Los+Angeles: 230: 6521, 6521, 6521, 6521
Los+Angeles: 240: 6536, 6536, 6536, 6536
Los+Angeles: 250: 6561, 6561, 6561, 6561
Los+Angeles: 260: 6576, 6576, 6576, 6576
Los+Angeles: 270: 6591, 6591, 6591, 6591
Los+Angeles: 280: 6606, 6606, 6606, 6606
Los+Angeles: 290: 6631, 6631, 6631, 6631
Los+Angeles: 300: 6646, 6646, 6646, 6646
Los+Angeles: 310: 6661, 6661, 6661, 6661
Los+Angeles: 320: 6676, 6676, 6676, 6676

Los+Angeles: 330: 6691, 6691, 6691, 6691
Los+Angeles: 340: 6706, 6706, 6706, 6706
Los+Angeles: 350: 6721, 6721, 6721, 6721
Los+Angeles: 360: 6736, 6736, 6736, 6736
Los+Angeles: 370: 6751, 6751, 6751, 6751
Los+Angeles: 380: 6766, 6766, 6766, 6766
Los+Angeles: 390: 6781, 6781, 6781, 6781
Los+Angeles: 400: 6796, 6796, 6796, 6796
Los+Angeles: 410: 6811, 6811, 6811, 6811
Los+Angeles: 420: 6836, 6836, 6836, 6836
Los+Angeles: 430: 6851, 6851, 6851, 6851
Los+Angeles: 440: 6866, 6866, 6866, 6866
Los+Angeles: 450: 6881, 6881, 6881, 6881
Los+Angeles: 460: 6896, 6896, 6896, 6896
Los+Angeles: 470: 6911, 6911, 6911, 6911
Los+Angeles: 480: 6926, 6926, 6926, 6926
Los+Angeles: 490: 6941, 6941, 6941, 6941
San+Antonio: 0: 6956, 6956, 6956, 6956
San+Antonio: 10: 6971, 6971, 6971, 6971
San+Antonio: 20: 6986, 6986, 6986, 6986
San+Antonio: 30: 7001, 7001, 7001, 7001
San+Antonio: 40: 7016, 7016, 7016, 7016
San+Antonio: 50: 7031, 7031, 7031, 7031
San+Antonio: 60: 7046, 7046, 7046, 7046
San+Antonio: 70: 7061, 7061, 7061, 7061
San+Antonio: 80: 7076, 7076, 7076, 7076
San+Antonio: 90: 7091, 7091, 7091, 7091
San+Antonio: 100: 7106, 7106, 7106, 7106
San+Antonio: 110: 7121, 7121, 7121, 7121
San+Antonio: 120: 7136, 7136, 7136, 7136
San+Antonio: 130: 7151, 7151, 7151, 7151
San+Antonio: 140: 7166, 7166, 7166, 7166
San+Antonio: 150: 7181, 7181, 7181, 7181
San+Antonio: 160: 7196, 7196, 7196, 7196
San+Antonio: 170: 7211, 7211, 7211, 7211
San+Antonio: 180: 7226, 7226, 7226, 7226
San+Antonio: 190: 7251, 7251, 7251, 7251
San+Antonio: 200: 7266, 7266, 7266, 7266
San+Antonio: 210: 7281, 7281, 7281, 7281
San+Antonio: 220: 7296, 7296, 7296, 7296
San+Antonio: 230: 7311, 7311, 7311, 7311
San+Antonio: 240: 7326, 7326, 7326, 7326
San+Antonio: 250: 7351, 7351, 7351, 7351
San+Antonio: 260: 7366, 7366, 7366, 7366
San+Antonio: 270: 7381, 7381, 7381, 7381
San+Antonio: 280: 7396, 7396, 7396, 7396
San+Antonio: 290: 7411, 7411, 7411, 7411
San+Antonio: 300: 7426, 7426, 7426, 7426
San+Antonio: 310: 7441, 7441, 7441, 7441
San+Antonio: 320: 7456, 7456, 7456, 7456
San+Antonio: 330: 7471, 7471, 7471, 7471
San+Antonio: 340: 7486, 7486, 7486, 7486
San+Antonio: 350: 7511, 7511, 7511, 7511
San+Antonio: 360: 7526, 7526, 7526, 7526
San+Antonio: 370: 7541, 7541, 7541, 7541
San+Antonio: 380: 7556, 7556, 7556, 7556
San+Antonio: 390: 7571, 7571, 7571, 7571
San+Antonio: 400: 7586, 7586, 7586, 7586
San+Antonio: 410: 7601, 7601, 7601, 7601
San+Antonio: 420: 7626, 7626, 7626, 7626
San+Antonio: 430: 7641, 7641, 7641, 7641
San+Antonio: 440: 7656, 7656, 7656, 7656
San+Antonio: 450: 7671, 7671, 7671, 7671
San+Antonio: 460: 7686, 7686, 7686, 7686
San+Antonio: 470: 7701, 7701, 7701, 7701
San+Antonio: 480: 7716, 7716, 7716, 7716
San+Antonio: 490: 7731, 7731, 7731, 7731
San+Diego: 0: 7746, 7746, 7746, 7746
San+Diego: 10: 7761, 7761, 7761, 7761
San+Diego: 20: 7776, 7776, 7776, 7776
San+Diego: 30: 7791, 7791, 7791, 7791
San+Diego: 40: 7806, 7806, 7806, 7806
San+Diego: 50: 7821, 7821, 7821, 7821
San+Diego: 60: 7836, 7836, 7836, 7836
San+Diego: 70: 7851, 7851, 7851, 7851
San+Diego: 80: 7866, 7866, 7866, 7866
San+Diego: 90: 7881, 7881, 7881, 7881
San+Diego: 100: 7896, 7896, 7896, 7896
San+Diego: 110: 7911, 7911, 7911, 7911
San+Diego: 120: 7926, 7926, 7926, 7926
San+Diego: 130: 7941, 7941, 7941, 7941
San+Diego: 140: 7956, 7956, 7956, 7956
San+Diego: 150: 7971, 7971, 7971, 7971
San+Diego: 160: 7986, 7986, 7986, 7986
San+Diego: 170: 8001, 8001, 8001, 8001
San+Diego: 180: 8016, 8016, 8016, 8016
San+Diego: 190: 8031, 8031, 8031, 8031
San+Diego: 200: 8046, 8046, 8046, 8046
San+Diego: 210: 8061, 8061, 8061, 8061
San+Diego: 220: 8076, 8076, 8076, 8076
San+Diego: 230: 8091, 8091, 8091, 8091
San+Diego: 240: 8106, 8106, 8106, 8106
San+Diego: 250: 8121, 8121, 8121, 8121
San+Diego: 260: 8136, 8136, 8136, 8136
San+Diego: 270: 8151, 8151, 8151, 8151
San+Diego: 280: 8166, 8166, 8166, 8166
San+Diego: 290: 8181, 8181, 8181, 8181
San+Diego: 300: 8196, 8196, 8196, 8196
San+Diego: 310: 8211, 8211, 8211, 8211
San+Diego: 320: 8226, 8226, 8226, 8226
San+Diego: 330: 8241, 8241, 8241, 8241
San+Diego: 340: 8256, 8256, 8256, 8256
San+Diego: 350: 8271, 8271, 8271, 8271
San+Diego: 360: 8286, 8286, 8286, 8286
San+Diego: 370: 8300, 8300, 8300, 8300
San+Diego: 380: 8315, 8315, 8315, 8315
San+Diego: 390: 8330, 8330, 8330, 8330
San+Diego: 400: 8345, 8345, 8345, 8345
San+Diego: 410: 8360, 8360, 8360, 8360
San+Diego: 420: 8375, 8375, 8375, 8375
San+Diego: 430: 8390, 8390, 8390, 8390
San+Diego: 440: 8405, 8405, 8405, 8405
San+Diego: 450: 8420, 8420, 8420, 8420
San+Diego: 460: 8435, 8435, 8435, 8435
San+Diego: 470: 8450, 8450, 8450, 8450
San+Diego: 480: 8465, 8465, 8465, 8465
San+Diego: 490: 8480, 8480, 8480, 8480
Houston: 0: 8495, 8495, 8495, 8495
Houston: 10: 8510, 8510, 8510, 8510
Houston: 20: 8525, 8525, 8525, 8525
Houston: 30: 8540, 8540, 8540, 8540
Houston: 40: 8555, 8555, 8555, 8555
Houston: 50: 8570, 8570, 8570, 8570
Houston: 60: 8585, 8585, 8585, 8585
Houston: 70: 8610, 8610, 8610, 8610
Houston: 80: 8625, 8625, 8625, 8625
Houston: 90: 8640, 8640, 8640, 8640
Houston: 100: 8655, 8655, 8655, 8655
Houston: 110: 8670, 8670, 8670, 8670
Houston: 120: 8685, 8685, 8685, 8685
Houston: 130: 8700, 8700, 8700, 8700
Houston: 140: 8715, 8715, 8715, 8715
Houston: 150: 8730, 8730, 8730, 8730
Houston: 160: 8745, 8745, 8745, 8745
Houston: 170: 8760, 8760, 8760, 8760
Houston: 180: 8775, 8775, 8775, 8775
Houston: 190: 8790, 8790, 8790, 8790
Houston: 200: 8805, 8805, 8805, 8805
Houston: 210: 8820, 8820, 8820, 8820
Houston: 220: 8835, 8835, 8835, 8835
Houston: 230: 8850, 8850, 8850, 8850
Houston: 240: 8865, 8865, 8865, 8865
Houston: 250: 8880, 8880, 8880, 8880
Houston: 260: 8895, 8895, 8895, 8895
Houston: 270: 8910, 8910, 8910, 8910
Houston: 280: 8925, 8925, 8925, 8925
Houston: 290: 8940, 8940, 8940, 8940
Houston: 300: 8955, 8955, 8955, 8955
Houston: 310: 8970, 8970, 8970, 8970
Houston: 320: 8985, 8985, 8985, 8985
Houston: 330: 9000, 9000, 9000, 9000
Houston: 340: 9015, 9015, 9015, 9015
Houston: 350: 9030, 9030, 9030, 9030
Houston: 360: 9055, 9055, 9055, 9055
Houston: 370: 9080, 9080, 9080, 9080
Houston: 380: 9095, 9095, 9095, 9095
Houston: 390: 9110, 9110, 9110, 9110
Houston: 400: 9125, 9125, 9125, 9125
Houston: 410: 9140, 9140, 9140, 9140
Houston: 420: 9155, 9155, 9155, 9155
Houston: 430: 9170, 9170, 9170, 9170
Houston: 440: 9185, 9185, 9185, 9185
Houston: 450: 9200, 9200, 9200, 9200
Houston: 460: 9215, 9215, 9215, 9215
Houston: 470: 9230, 9230, 9230, 9230
Houston: 480: 9245, 9245, 9245, 9245
Houston: 490: 9260, 9260, 9260, 9260
St.+Louis: 0: 9275, 9275, 9275, 9275
St.+Louis: 10: 9290, 9290, 9290, 9290
St.+Louis: 20: 9305, 9305, 9305, 9305
St.+Louis: 30: 9320, 9320, 9320, 9320
St.+Louis: 40: 9335, 9335, 9335, 9335
St.+Louis: 50: 9350, 9350, 9350, 9350
St.+Louis: 60: 9365, 9365, 9365, 9365
St.+Louis: 70: 9380, 9380, 9380, 9380
St.+Louis: 80: 9405, 9405, 9405, 9405
St.+Louis: 90: 9420, 9420, 9420, 9420
St.+Louis: 100: 9435, 9435, 9435, 9435
St.+Louis: 110: 9450, 9450, 9450, 9450
St.+Louis: 120: 9465, 9465, 9465, 9465
St.+Louis: 130: 9480, 9480, 9480, 9480
St.+Louis: 140: 9495, 9495, 9495, 9495
St.+Louis: 150: 9510, 9510, 9510, 9510
St.+Louis: 160: 9525, 9525, 9525, 9525
St.+Louis: 170: 9540, 9540, 9540, 9540
St.+Louis: 180: 9555, 9555, 9555, 9555
St.+Louis: 190: 9570, 9570, 9570, 9570
St.+Louis: 200: 9585, 9585, 9585, 9585
St.+Louis: 210: 9600, 9600, 9600, 9600
St.+Louis: 220: 9615, 9615, 9615, 9615
St.+Louis: 230: 9630, 9630, 9630, 9630
St.+Louis: 240: 9645, 9645, 9645, 9645
St.+Louis: 250: 9660, 9660, 9660, 9660
St.+Louis: 260: 9675, 9675, 9675, 9675
St.+Louis: 270: 9690, 9690, 9690, 9690
St.+Louis: 280: 9705, 9705, 9705, 9705
St.+Louis: 290: 9720, 9720, 9720, 9720
St.+Louis: 300: 9735, 9735, 9735, 9735
St.+Louis: 310: 9750, 9750, 9750, 9750
St.+Louis: 320: 9765, 9765, 9765, 9765
St.+Louis: 330: 9780, 9780, 9780, 9780
St.+Louis: 340: 9795, 9795, 9795, 9795
St.+Louis: 350: 9810, 9810, 9810, 9810
St.+Louis: 360: 9825, 9825, 9825, 9825
St.+Louis: 370: 9840, 9840, 9840, 9840
St.+Louis: 380: 9855, 9855, 9855, 9855
St.+Louis: 390: 9870, 9870, 9870, 9870
St.+Louis: 400: 9885, 9885, 9885, 9885
St.+Louis: 410: 9900, 9900, 9900, 9900
St.+Louis: 420: 9915, 9915, 9915, 9915
St.+Louis: 430: 9930, 9930, 9930, 9930

St.+Louis: 440: 9945, 9945, 9945, 9945
St.+Louis: 450: 9960, 9960, 9960, 9960
St.+Louis: 460: 9975, 9975, 9975, 9975
St.+Louis: 470: 9990, 9990, 9990, 9990
St.+Louis: 480: 10005, 10005, 10005, 10005
St.+Louis: 490: 10020, 10020, 10020, 10020
Seattle: 0: 10045, 10045, 10045, 10045
Seattle: 10: 10060, 10060, 10060, 10060
Seattle: 20: 10075, 10075, 10075, 10075
Seattle: 30: 10090, 10090, 10090, 10090
Seattle: 40: 10105, 10105, 10105, 10105
Seattle: 50: 10120, 10120, 10120, 10120
Seattle: 60: 10135, 10135, 10135, 10135
Seattle: 70: 10150, 10150, 10150, 10150
Seattle: 80: 10165, 10165, 10165, 10165
Seattle: 90: 10180, 10180, 10180, 10180
Seattle: 100: 10195, 10195, 10195, 10195
Seattle: 110: 10210, 10210, 10210, 10210
Seattle: 120: 10225, 10225, 10225, 10225
Seattle: 130: 10240, 10240, 10240, 10240
Seattle: 140: 10255, 10255, 10255, 10255
Seattle: 150: 10270, 10270, 10270, 10270
Seattle: 160: 10285, 10285, 10285, 10285
Seattle: 170: 10300, 10300, 10300, 10300
Seattle: 180: 10315, 10315, 10315, 10315
Seattle: 190: 10330, 10330, 10330, 10330
Seattle: 200: 10345, 10345, 10345, 10345
Seattle: 210: 10360, 10360, 10360, 10360
Seattle: 220: 10375, 10375, 10375, 10375
Seattle: 230: 10390, 10390, 10390, 10390
Seattle: 240: 10405, 10405, 10405, 10405
Seattle: 250: 10430, 10430, 10430, 10430
Seattle: 260: 10455, 10455, 10455, 10455
Seattle: 270: 10470, 10470, 10470, 10470
Seattle: 280: 10485, 10485, 10485, 10485
Seattle: 290: 10500, 10500, 10500, 10500
Seattle: 300: 10515, 10515, 10515, 10515
Seattle: 310: 10530, 10530, 10530, 10530
Seattle: 320: 10545, 10545, 10545, 10545
Seattle: 330: 10560, 10560, 10560, 10560
Seattle: 340: 10575, 10575, 10575, 10575
Seattle: 350: 10590, 10590, 10590, 10590
Seattle: 360: 10605, 10605, 10605, 10605
Seattle: 370: 10620, 10620, 10620, 10620
Seattle: 380: 10635, 10635, 10635, 10635
Seattle: 390: 10650, 10650, 10650, 10650
Seattle: 400: 10665, 10665, 10665, 10665
Seattle: 410: 10680, 10680, 10680, 10680
Seattle: 420: 10695, 10695, 10695, 10695
Seattle: 430: 10710, 10710, 10710, 10710
Seattle: 440: 10725, 10725, 10725, 10725
Seattle: 450: 10740, 10740, 10740, 10740
Seattle: 460: 10755, 10755, 10755, 10755
Seattle: 470: 10770, 10770, 10770, 10770
Seattle: 480: 10785, 10785, 10785, 10785
Seattle: 490: 10800, 10800, 10800, 10800
Austin: 0: 10815, 10815, 10815, 10815
Austin: 10: 10830, 10830, 10830, 10830
Austin: 20: 10845, 10845, 10845, 10845
Austin: 30: 10860, 10860, 10860, 10860
Austin: 40: 10875, 10875, 10875, 10875
Austin: 50: 10890, 10890, 10890, 10890
Austin: 60: 10905, 10905, 10905, 10905
Austin: 70: 10920, 10920, 10920, 10920
Austin: 80: 10935, 10935, 10935, 10935
Austin: 90: 10950, 10950, 10950, 10950
Austin: 100: 10965, 10965, 10965, 10965
Austin: 110: 10980, 10980, 10980, 10980
Austin: 120: 10995, 10995, 10995, 10995
Austin: 130: 11010, 11010, 11010, 11010
Austin: 140: 11025, 11025, 11025, 11025
Austin: 150: 11040, 11040, 11040, 11040
Austin: 160: 11055, 11055, 11055, 11055
Austin: 170: 11080, 11080, 11080, 11080
Austin: 180: 11095, 11095, 11095, 11095
Austin: 190: 11110, 11110, 11110, 11110
Austin: 200: 11125, 11125, 11125, 11125
Austin: 210: 11140, 11140, 11140, 11140
Austin: 220: 11155, 11155, 11155, 11155
Austin: 230: 11180, 11180, 11180, 11180
Austin: 240: 11195, 11195, 11195, 11195
Austin: 250: 11210, 11210, 11210, 11210
Austin: 260: 11225, 11225, 11225, 11225
Austin: 270: 11240, 11240, 11240, 11240
Austin: 280: 11255, 11255, 11255, 11255
Austin: 290: 11270, 11270, 11270, 11270
Austin: 300: 11285, 11285, 11285, 11285
Austin: 310: 11300, 11300, 11300, 11300
Austin: 320: 11315, 11315, 11315, 11315
Austin: 330: 11330, 11330, 11330, 11330
Austin: 340: 11345, 11345, 11345, 11345
Austin: 350: 11360, 11360, 11360, 11360
Austin: 360: 11375, 11375, 11375, 11375
Austin: 370: 11390, 11390, 11390, 11390
Austin: 380: 11405, 11405, 11405, 11405
Austin: 390: 11420, 11420, 11420, 11420
Austin: 400: 11435, 11435, 11435, 11435
Austin: 410: 11450, 11450, 11450, 11450
Austin: 420: 11465, 11465, 11465, 11465
Austin: 430: 11480, 11480, 11480, 11480
Austin: 440: 11495, 11495, 11495, 11495
Austin: 450: 11510, 11510, 11510, 11510
Austin: 460: 11525, 11525, 11525, 11525
Austin: 470: 11540, 11540, 11540, 11540
Austin: 480: 11555, 11555, 11555, 11555
Austin: 490: 11570, 11570, 11570, 11570

In [259]:
# forming dataframe
data = {'Titles' : titles, 'Company' : companies, 'Location' : locations, 'Salary' : salaries}
df = pd.DataFrame(data)

# replacing all null salary values with true NaN
df.replace('None', np.nan, inplace=True)

# saving dataframe 
df.to_csv('jobs.csv', encoding='utf-8')

print (df.shape)
print (df.dtypes)
df.head()

(11570, 4)
Company     object
Location    object
Salary      object
Titles      object
dtype: object

,Company,Location,Salary,Titles
0,Sealed Air Corporation,"Charlotte, NC 28208",NaN,Data Scientist IT Architecture-NSEE
1,Wells Fargo,"Charlotte, NC",NaN,Data Scientist Lead - Quantitative Analytics C...
2,Principle Solutions Group,"Charlotte, NC 28202",NaN,Data Scientist
3,JLL,"Charlotte, NC",NaN,Research Analyst
4,Carolinas HealthCare System,"Charlotte, NC 28203 (Dilworth area)",NaN,Statistician/Intermediate - Levine Cancer Inst...

In [260]:
# counting null salary values 
df.Salary.isnull().sum()

11003

Dropping all null values, which is a considerable portion of the dataframe.

In [261]:
df = df.dropna()
print df.shape
df.head()

(567, 4)

,Company,Location,Salary,Titles
11,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate
19,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ..."
26,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst
32,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst
33,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist

In [287]:
# Dropping all duplicates
df.drop_duplicates(['Company', 'Location', 'Titles'], inplace=True)

In [289]:
# ONLY INCLUDING ANNUAL SALARIES. THIS WILL RID THE DATAFRAME OF HOURLY INTERNSHIPS OR MONTHLY PROGRAMS
df = df[['year' in str(s) for s in df.Salary]]
df.head()

,Company,Location,Salary,Titles
11,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate
19,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ..."
26,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst
33,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist
41,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist

In [290]:
# converting salary to string type
df['New Salary'] = df.Salary.apply(lambda x: str(x))

In [291]:
# getting rid of wording, $, and - to convert to numerical value
df['New Salary'] = df['New Salary'].str.replace('a year', '')
df['New Salary'] = df['New Salary'].str.replace('$', '')
df['New Salary'] = df['New Salary'].str.replace('-', '')
df.head()

,Company,Location,Salary,Titles,New Salary
11,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate,"[u'35,000 45,000 ']"
19,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ...","[u'110,000 130,000 ']"
26,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst,"[u'100,000 180,000 ']"
33,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist,"[u'140,000 160,000 ']"
41,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist,"[u'110,000 120,000 ']"

In [292]:
# separating ranges of salaries and then going to use average for predictions
df['SalaryII'] = df['New Salary'].str.extract('(\d+\,\d+)', expand=True)
df['SalaryIII'] = df['New Salary'].str.extract('( \d+\,\d+)', expand=True)
df.head()

,Company,Location,Salary,Titles,New Salary,SalaryII,SalaryIII
11,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate,"[u'35,000 45,000 ']","35,000","45,000"
19,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ...","[u'110,000 130,000 ']","110,000","130,000"
26,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst,"[u'100,000 180,000 ']","100,000","180,000"
33,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist,"[u'140,000 160,000 ']","140,000","160,000"
41,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist,"[u'110,000 120,000 ']","110,000","120,000"

In [293]:
# getting rid of commas to convert to floats 
df['SalaryII'] = df['SalaryII'].str.replace(',','')
df['SalaryIII'] = df['SalaryIII'].str.replace(',','')
df.head()

,Company,Location,Salary,Titles,New Salary,SalaryII,SalaryIII
11,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate,"[u'35,000 45,000 ']",35000,45000
19,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ...","[u'110,000 130,000 ']",110000,130000
26,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst,"[u'100,000 180,000 ']",100000,180000
33,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist,"[u'140,000 160,000 ']",140000,160000
41,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist,"[u'110,000 120,000 ']",110000,120000

In [294]:
# converting to floats 
df['SalaryII'] = df["SalaryII"].astype(float)
df['SalaryIII'] = df["SalaryIII"].astype(float)
df.dtypes

Company        object
Location       object
Salary         object
Titles         object
New Salary     object
SalaryII      float64
SalaryIII     float64
dtype: object

In [295]:
# forming new column for average salary to use for predictions
df['Avg Salary'] = df[['SalaryII', 'SalaryIII']].mean(axis=1)
df.head()

,Company,Location,Salary,Titles,New Salary,SalaryII,SalaryIII,Avg Salary
11,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate,"[u'35,000 45,000 ']",35000.0,45000.0,40000.0
19,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ...","[u'110,000 130,000 ']",110000.0,130000.0,120000.0
26,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst,"[u'100,000 180,000 ']",100000.0,180000.0,140000.0
33,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist,"[u'140,000 160,000 ']",140000.0,160000.0,150000.0
41,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist,"[u'110,000 120,000 ']",110000.0,120000.0,115000.0

### Saving results as a CSV

In [298]:
df.to_csv('jobs.csv', encoding='utf-8')

## Predicting salaries using Random Forests + Another Classifier

#### Load in the the data of scraped salaries

In [299]:
frame = pd.read_csv('../Web-Scraping-Project/jobs.csv')
frame.drop('Unnamed: 0', axis=1, inplace=True)

In [300]:
frame.head()

,Company,Location,Salary,Titles,New Salary,SalaryII,SalaryIII,Avg Salary
0,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate,"[u'35,000 45,000 ']",35000.0,45000.0,40000.0
1,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ...","[u'110,000 130,000 ']",110000.0,130000.0,120000.0
2,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst,"[u'100,000 180,000 ']",100000.0,180000.0,140000.0
3,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist,"[u'140,000 160,000 ']",140000.0,160000.0,150000.0
4,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist,"[u'110,000 120,000 ']",110000.0,120000.0,115000.0

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

We could also perform Linear Regression (or any regression) to predict the salary value here. Instead, we are going to convert this into a _binary_ classification problem, by predicting two classes, HIGH vs LOW salary.

While performing regression may be better, performing classification may help remove some of the noise of the extreme salaries. We don't _have_ to choose the `median` as the splitting point - we could also split on the 75th percentile or any other reasonable breaking point.

In fact, the ideal scenario may be to predict many levels of salaries,

In [301]:
median = frame['Avg Salary'].median()
print median

92500.0

In [303]:
# Creating new binary column based on if AVG Salary is above or below median
frame['High Salary?'] = np.where(frame['Avg Salary'] > median, 1, 0)
frame.head()

,Company,Location,Salary,Titles,New Salary,SalaryII,SalaryIII,Avg Salary,High Salary?
0,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate,"[u'35,000 45,000 ']",35000.0,45000.0,40000.0,0
1,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ...","[u'110,000 130,000 ']",110000.0,130000.0,120000.0,1
2,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst,"[u'100,000 180,000 ']",100000.0,180000.0,140000.0,1
3,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist,"[u'140,000 160,000 ']",140000.0,160000.0,150000.0,1
4,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist,"[u'110,000 120,000 ']",110000.0,120000.0,115000.0,1

In [304]:
frame.dtypes

Company          object
Location         object
Salary           object
Titles           object
New Salary       object
SalaryII        float64
SalaryIII       float64
Avg Salary      float64
High Salary?      int64
dtype: object

In [305]:
#creating new columns, seperating the Location column into two strings, seperated by a comma, 
# this will isolate the city name
frame['Location1'] = frame['Location'].apply(lambda x: x.split(','))

In [306]:
# creating new column of city only for each observation
frame['City'] = frame['Location1'].apply(lambda x: x[0])
frame

,Company,Location,Salary,Titles,New Salary,SalaryII,SalaryIII,Avg Salary,High Salary?,Location1,City
0,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate,"[u'35,000 45,000 ']",35000.0,45000.0,40000.0,0,"[Charlotte, NC 28202 (Downtown Charlotte area)]",Charlotte
1,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ...","[u'110,000 130,000 ']",110000.0,130000.0,120000.0,1,"[Charlotte, NC]",Charlotte
2,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst,"[u'100,000 180,000 ']",100000.0,180000.0,140000.0,1,"[Charlotte, NC]",Charlotte
3,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist,"[u'140,000 160,000 ']",140000.0,160000.0,150000.0,1,"[Charlotte, NC 28202 (Downtown Charlotte area)]",Charlotte
4,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist,"[u'110,000 120,000 ']",110000.0,120000.0,115000.0,1,"[Charlotte, NC]",Charlotte
5,Department of Agriculture,"Gastonia, NC","[$33,012 - $42,921 a year]",Physical Science Technician,"[u'33,012 42,921 ']",33012.0,42921.0,37966.5,0,"[Gastonia, NC]",Gastonia
6,"Kennedy Unlimited Inc, Professional Staffing","Charlotte, NC","[$130,000 - $140,000 a year]",Predictive Analytics (Machine Learning),"[u'130,000 140,000 ']",130000.0,140000.0,135000.0,1,"[Charlotte, NC]",Charlotte
7,"Kennedy Unlimited Inc, Professional Staffing","Charlotte, NC","[$120,000 - $150,000 a year]",Analytics Manager (Machine Learning),"[u'120,000 150,000 ']",120000.0,150000.0,135000.0,1,"[Charlotte, NC]",Charlotte
8,"Kennedy Unlimited Inc, Professional Staffing","Charlotte, NC","[$140,000 - $165,000 a year]",Data Scientist Data Modeling (Machine Learning...,"[u'140,000 165,000 ']",140000.0,165000.0,152500.0,1,"[Charlotte, NC]",Charlotte
9,"Kennedy Unlimited Inc, Professional Staffing","Charlotte, NC","[$140,000 - $155,000 a year]",Quantitative Analyst (Quantitative Research PhD),"[u'140,000 155,000 ']",140000.0,155000.0,147500.0,1,"[Charlotte, NC]",Charlotte
10,Lighthouse Recruiting,"Charlotte, NC","[$60,000 - $75,000 a year]",Certifying Scientist,"[u'60,000 75,000 ']",60000.0,75000.0,67500.0,0,"[Charlotte, NC]",Charlotte
11,InfoArmor,"Scottsdale, AZ","[$80,000 - $100,000 a year]","Analyst Research Engineer, Cyber Threat Intell...","[u'80,000 100,000 ']",80000.0,100000.0,90000.0,0,"[Scottsdale, AZ]",Scottsdale
12,Maricopa County Community College District,"Phoenix, AZ","[$50,958 - $60,512 a year]",Institutional Research Analyst (Open until Fil...,"[u'50,958 60,512 ']",50958.0,60512.0,55735.0,0,"[Phoenix, AZ]",Phoenix
13,State of Arizona,"Phoenix, AZ","[$56,573 - $75,000 a year]",ASSOC SCIENTIST,"[u'56,573 75,000 ']",56573.0,75000.0,65786.5,0,"[Phoenix, AZ]",Phoenix
14,Arizona Health Care Cost Containment System,"Phoenix, AZ","[$39,983 - $55,500 a year]",RESEARCH AND STATISTICAL ANALYST,"[u'39,983 55,500 ']",39983.0,55500.0,47741.5,0,"[Phoenix, AZ]",Phoenix
15,SiteLock,"Scottsdale, AZ","[$50,000 - $55,000 a year]",Web Security Research Analyst,"[u'50,000 55,000 ']",50000.0,55000.0,52500.0,0,"[Scottsdale, AZ]",Scottsdale
16,"Kennedy Unlimited Inc, Professional Staffing","Phoenix, AZ","[$130,000 - $140,000 a year]",Predictive Analytics (Machine Learning),"[u'130,000 140,000 ']",130000.0,140000.0,135000.0,1,"[Phoenix, AZ]",Phoenix
17,VincentBenjamin,"Scottsdale, AZ","[$80,000 - $110,000 a year]",Embedded Software Engineer,"[u'80,000 110,000 ']",80000.0,110000.0,95000.0,1,"[Scottsdale, AZ]",Scottsdale
18,Lighthouse Recruiting,"Scottsdale, AZ 85268","[$70,000 - $90,000 a year]","LCMS Technologist / Certifying Scientist, Toxi...","[u'70,000 90,000 ']",70000.0,90000.0,80000.0,0,"[Scottsdale, AZ 85268]",Scottsdale
19,YMCA,"Chicago, IL","[$48,000 - $52,000 a year]",Junior Research Analyst,"[u'48,000 52,000 ']",48000.0,52000.0,50000.0,0,"[Chicago, IL]",Chicago
20,Workbridge Associates,"Chicago, IL","[$65,000 - $80,000 a year]","Data Scientist (Python, R, SQL)","[u'65,000 80,000 ']",65000.0,80000.0,72500.0,0,"[Chicago, IL]",Chicago
21,Jobspring Partners,"Chicago, IL","[$90,000 - $130,000 a year]",Data Scientist,"[u'90,000 130,000 ']",90000.0,130000.0,110000.0,1,"[Chicago, IL]",Chicago
22,Huxley Banking & Financial Services,"Chicago, IL","[$80,000 - $100,000 a year]",Data Scientist,"[u'80,000 100,000 ']",80000.0,100000.0,90000.0,0,"[Chicago, IL]",Chicago
23,Michael Page US,"Chicago, IL","[$65,000 - $90,000 a year]",Data Scientist (NPO Startup),"[u'65,000 90,000 ']",65000.0,90000.0,77500.0,0,"[Chicago, IL]",Chicago
24,Smith Hanley Associates,"Chicago, IL","[$100,000 - $130,000 a year]",Data Scientist,"[u'100,000 130,000 ']",100000.0,130000.0,115000.0,1,"[Chicago, IL]",Chicago
25,Workbridge Associates,"Chicago, IL","[$75,000 - $135,000 a year]","Data Scientist (Python, R, AWS, Tableau)","[u'75,000 135,000 ']",75000.0,135000.0,105000.0,1,"[Chicago, IL]",Chicago
26,Request Technology,"Chicago, IL","[$100,000 - $130,000 a year]",Data Integration Engineer,"[u'100,000 130,000 ']",100000.0,130000.0,115000.0,1,"[Chicago, IL]",Chicago
27,YMCA,"Chicago, IL","[$40,000 - $43,000 a year]","Assistant, Research Analyst Team","[u'40,000 43,000 ']",40000.0,43000.0,41500.0,0,"[Chicago, IL]",Chicago
28,"Vivid Technologies, Inc.","Chicago, IL 60606 (Loop area)","[$120,000 - $160,000 a year]",Hadoop Data Scientist/Administrator,"[u'120,000 160,000 ']",120000.0,160000.0,140000.0,1,"[Chicago, IL 60606 (Loop area)]",Chicago
29,Workbridge Associates,"Chicago, IL","[$100,000 - $150,000 a year]",Senior Data Scientist,"[u'100,000 150,000 ']",100000.0,150000.0,125000.0,1,"[Chicago, IL]",Chicago
...,...,...,...,...,...,...,...,...,...,...,...
139,MD Anderson Cancer Center,"Houston, TX","[$46,500 - $83,000 a year]",Institute Associate Scientist II - In Vivo Pha...,"[u'46,500 83,000 ']",46500.0,83000.0,64750.0,0,"[Houston, TX]",Houston
140,MD Anderson Cancer Center,"Houston, TX","[$125,000 - $187,000 a year]",Principal Institute Research Scientist - Drug ...,"[u'125,000 187,000 ']",125000.0,187000.0,156000.0,1,"[Houston, TX]",Houston
141,Washington University in St. Louis,"St. Louis, MO","[$46,113 - $58,802 a year]",Statistical Data Analyst - Biostatistics,"[u'46,113 58,802 ']",46113.0,58802.0,52457.5,0,"[St. Louis, MO]",St. Louis
142,Washington University in St. Louis,"St. Louis, MO","[$34,944 - $44,553 a year]",Reporting Services Analyst I - Ob/Gyn - Resear...,"[u'34,944 44,553 ']",34944.0,44553.0,39748.5,0,"[St. Louis, MO]",St. Louis
143,Strategic Staffing Solutions,"St. Louis, MO","[$85,000 - $110,000 a year]",Data Scientist - R / Python,"[u'85,000 110,000 ']",85000.0,110000.0,97500.0,1,"[St. Louis, MO]",St. Louis
144,Department of Defense,"St. Louis, MO","[$60,613 - $123,234 a year]",Data Engineer,"[u'60,613 123,234 ']",60613.0,123234.0,91923.5,0,"[St. Louis, MO]",St. Louis
145,The McManness Group,"St. Louis, MO","[$110,000 - $150,000 a year]","Senior Manager, Data Analysis, Value Based Con...","[u'110,000 150,000 ']",110000.0,150000.0,130000.0,1,"[St. Louis, MO]",St. Louis
146,Department of Defense,"St. Louis, MO","[$52,329 - $129,553 a year]",GEOINT Analyst (Data Science),"[u'52,329 129,553 ']",52329.0,129553.0,90941.0,0,"[St. Louis, MO]",St. Louis
147,Washington University in St. Louis,"St. Louis, MO","[$45,864 - $61,921 a year]",Staff Scientist - Radiology,"[u'45,864 61,921 ']",45864.0,61921.0,53892.5,0,"[St. Louis, MO]",St. Louis
148,Washington University in St. Louis,"St. Louis, MO","[$45,864 - $61,921 a year]",Staff Scientist - Neuroscience,"[u'45,864 61,921 ']",45864.0,61921.0,53892.5,0,"[St. Louis, MO]",St. Louis
149,Washington University in St. Louis,"St. Louis, MO","[$46,215 - $60,079 a year]",Human Research QA/QI Program Analyst - Vice Ch...,"[u'46,215 60,079 ']",46215.0,60079.0,53147.0,0,"[St. Louis, MO]",St. Louis
150,Washington University in St. Louis,"St. Louis, MO","[$45,864 - $61,921 a year]",Staff Scientist - Computational Genetics - Car...,"[u'45,864 61,921 ']",45864.0,61921.0,53892.5,0,"[St. Louis, MO]",St. Louis
151,Strategic Staffing Solutions,"St. Louis, MO","[$80,000 - $120,000 a year]",Data Scientist / Data Steward - Analytical Dev...,"[u'80,000 120,000 ']",80000.0,120000.0,100000.0,1,"[St. Louis, MO]",St. Louis
152,Washington University in St. Louis,"St. Louis, MO","[$45,864 - $61,921 a year]",Staff Scientist - Pediatrics Infectious Disease,"[u'45,864 61,921 ']",45864.0,61921.0,53892.5,0,"[St. Louis, MO]",St. Louis
153,"Veterans Affairs, Veterans Health Administration","St. Louis, MO","[$69,017 - $109,221 a year]",RN Research,"[u'69,017 109,221 ']",69017.0,109221.0,89119.0,0,"[St. Louis, MO]",St. Louis
154,"CPS, Inc.","Granite City, IL","[$56,000 - $105,000 a year]",Bakery Scientist,"[u'56,000 105,000 ']",56000.0,105000.0,80500.0,0,"[Granite City, IL]",Granite City
155,Kutir Corporation,"Seattle, WA","[$100,000 - $120,000 a year]",Data Scientist,"[u'100,000 120,000 ']",100000.0,120000.0,110000.0,1,"[Seattle, WA]",Seattle
156,CuraCloud Corporation,"Seattle, WA","[$60,000 - $70,000 a year]",Research Scientist,"[u'60,000 70,000 ']",60000.0,70000.0,65000.0,0,"[Seattle, WA]",Seattle
157,King County,"Seattle, WA","[$71,406 - $90,522 a year]",Water Quality Planner/Project Manager II - Mar...,"[u'71,406 90,522 ']",71406.0,90522.0,80964.0,0,"[Seattle, WA]",Seattle
158,King County,"Seattle, WA","[$80,413 - $101,920 a year]",Project Program Manager III,"[u'80,413 101,920 ']",80413.0,101920.0,91166.5,0,"[Seattle, WA]",Seattle
159,LT,"Seattle, WA","[$150,000 - $180,000 a year]",Erlang Engineer,"[u'150,000 180,000 ']",150000.0,180000.0,165000.0,1,"[Seattle, WA]",Seattle
160,All-In Analytics,"Seattle, WA","[$150,000 - $275,000 a year]",Senior Data Scientist,"[u'150,000 275,000 ']",150000.0,275000.0,212500.0,1,"[Seattle, WA]",Seattle
161,"JP3 Measurement, LLC","Austin, TX","[$80,000 - $90,000 a year]",Data Scientist,"[u'80,000 90,000 ']",80000.0,90000.0,85000.0,0,"[Austin, TX]",Austin
162,HuntSource,"Austin, TX","[$128,000 - $162,000 a year]","Software Architect, Machine Learning & AI","[u'128,000 162,000 ']",128000.0,162000.0,145000.0,1,"[Austin, TX]",Austin
163,Senseye,"Austin, TX","[$50,000 - $60,000 a year]",Research Scientist I,"[u'50,000 60,000 ']",50000.0,60000.0,55000.0,0,"[Austin, TX]",Austin
164,National Domestic Violence Hotline,"Austin, TX","[$45,000 - $55,000 a year]",Prospect Research Analyst,"[u'45,000 55,000 ']",45000.0,55000.0,50000.0,0,"[Austin, TX]",Austin
165,"Applied Research Laboratories, The University ...","Austin, TX 78758 (North Austin area)","[$75,000 - $130,000 a year]",Engineering Scientist - R and D Algorithm and ...,"[u'75,000 130,000 ']",75000.0,130000.0,102500.0,1,"[Austin, TX 78758 (North Austin area)]",Austin
166,Avancos,"Austin, TX","[$70,000 - $95,000 a year]",Senior Research Analyst,"[u'70,000 95,000 ']",70000.0,95000.0,82500.0,0,"[Austin, TX]",Austin
167,CareerMonks,"Austin, TX","[$100,000 - $130,000 a year]",Big Data Engineer,"[u'100,000 130,000 ']",100000.0,130000.0,115000.0,1,"[Austin, TX]",Austin
168,Winston Fox,"Austin, TX","[$120,000 - $200,000 a year]",Software Development Engineers (Core Java),"[u'120,000 200,000 ']",120000.0,200000.0,160000.0,1,"[Austin, TX]",Austin

#### Create a Random Forest model to predict High/Low salary using Sklearn. Start by ONLY using the location as a feature.

In [307]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.cross_validation import cross_val_score, StratifiedKFold

/Users/elutins/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [309]:
# creating dummy variables for city
df_city = pd.get_dummies(frame['City'])
df_city.head()

,Arlington,Austin,Beltsville,Boston,Buckley AFB,Cambridge,Charlotte,Chicago,Concord,Dallas,...,San Diego,Scottsdale,Seattle,Silver Spring,Springfield,St. Louis,Tysons,Van Nuys,Washington,Wellesley
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [311]:
# concatenating city frame with original dataframe so I can predict salary with city
df_city = pd.concat([frame, df_city], axis=1)

In [312]:
df_city.head()

,Company,Location,Salary,Titles,New Salary,SalaryII,SalaryIII,Avg Salary,High Salary?,Location1,...,San Diego,Scottsdale,Seattle,Silver Spring,Springfield,St. Louis,Tysons,Van Nuys,Washington,Wellesley
0,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate,"[u'35,000 45,000 ']",35000.0,45000.0,40000.0,0,"[Charlotte, NC 28202 (Downtown Charlotte area)]",...,0,0,0,0,0,0,0,0,0,0
1,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ...","[u'110,000 130,000 ']",110000.0,130000.0,120000.0,1,"[Charlotte, NC]",...,0,0,0,0,0,0,0,0,0,0
2,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst,"[u'100,000 180,000 ']",100000.0,180000.0,140000.0,1,"[Charlotte, NC]",...,0,0,0,0,0,0,0,0,0,0
3,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist,"[u'140,000 160,000 ']",140000.0,160000.0,150000.0,1,"[Charlotte, NC 28202 (Downtown Charlotte area)]",...,0,0,0,0,0,0,0,0,0,0
4,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist,"[u'110,000 120,000 ']",110000.0,120000.0,115000.0,1,"[Charlotte, NC]",...,0,0,0,0,0,0,0,0,0,0

In [314]:
# establishing an X and y
X = df_city.drop(['High Salary?', 'Titles', 'Location', 'Salary', 'Company', 'New Salary', 'SalaryII', 'SalaryIII', 
                 'Avg Salary', 'Location1', 'City'], axis=1)
y = df_city['High Salary?']

In [315]:
model = RandomForestClassifier()
model.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [316]:
a = model.feature_importances_
zip(a, X)

[(0.094179296174717181, 'Arlington'),
 (0.0095617493485209218, 'Austin'),
 (0.0082871170109823315, 'Beltsville'),
 (0.019996045311866696, 'Boston'),
 (0.01720390631897465, 'Buckley AFB'),
 (0.018466526613505518, 'Cambridge'),
 (0.058687665969864689, 'Charlotte'),
 (0.03101972414760467, 'Chicago'),
 (0.011593315815148771, 'Concord'),
 (0.013296518406696206, 'Dallas'),
 (0.018461298317923945, 'Denver'),
 (0.015975708013616134, 'Downers Grove'),
 (0.017896021218198704, 'El Segundo'),
 (0.025908267122026336, 'Fort Meade'),
 (0.01120991021881183, 'Fort Sam Houston'),
 (0.0092135578689917855, 'Framingham'),
 (0.0053293539934300129, 'Gaithersburg'),
 (0.014376649152808557, 'Gastonia'),
 (0.021394436791523381, 'Golden'),
 (0.011941821927479248, 'Granite City'),
 (0.031234060610676691, 'Greenbelt'),
 (0.049383009041895534, 'Houston'),
 (0.010932153245856262, 'Lackland AFB'),
 (0.016246759539921496, 'Lexington'),
 (0.016448517901372854, 'Long Beach'),
 (0.027130809194403121, 'Los Angeles'),
 (0.014703056115679305, 'Needham'),
 (0.017553089692615341, 'Northbrook'),
 (0.014032792982298559, 'Phoenix'),
 (0.034888952900122137, 'Pittsburgh'),
 (0.035398328237324826, 'Reston'),
 (0.025153056182617855, 'Rockville'),
 (0.043802307226021395, 'San Diego'),
 (0.021145891643498588, 'Scottsdale'),
 (0.017681963223429902, 'Seattle'),
 (0.01346325738443028, 'Silver Spring'),
 (0.012398863191592819, 'Springfield'),
 (0.05573338060769667, 'St. Louis'),
 (0.029508002119685173, 'Tysons'),
 (0.0062829875045245596, 'Van Nuys'),
 (0.059058902499997248, 'Washington'),
 (0.013820969211647865, 'Wellesley')]

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title or whether 'Manager' is in the title. 
- Then build a new Random Forest with these features. Do they add any value?
- After creating these variables, use count-vectorizer to create features based on the words in the job titles.
- Build a new random forest model with location and these new features included.

In [317]:
from sklearn.feature_extraction.text import CountVectorizer, HashingVectorizer

In [318]:
cvec = CountVectorizer()

In [319]:
cvec.fit(frame['Titles'])

CountVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [320]:
cvecdata= cvec.transform(frame['Titles'])

In [321]:
# creating count vectorizer DataFrame
cvecframe  = pd.DataFrame(cvecdata.todense(),
             columns=cvec.get_feature_names())


frame.head()

,Company,Location,Salary,Titles,New Salary,SalaryII,SalaryIII,Avg Salary,High Salary?,Location1,City
0,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate,"[u'35,000 45,000 ']",35000.0,45000.0,40000.0,0,"[Charlotte, NC 28202 (Downtown Charlotte area)]",Charlotte
1,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ...","[u'110,000 130,000 ']",110000.0,130000.0,120000.0,1,"[Charlotte, NC]",Charlotte
2,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst,"[u'100,000 180,000 ']",100000.0,180000.0,140000.0,1,"[Charlotte, NC]",Charlotte
3,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist,"[u'140,000 160,000 ']",140000.0,160000.0,150000.0,1,"[Charlotte, NC 28202 (Downtown Charlotte area)]",Charlotte
4,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist,"[u'110,000 120,000 ']",110000.0,120000.0,115000.0,1,"[Charlotte, NC]",Charlotte

In [322]:
cvecframe.head()

,11,12,13,1301,14,1529,1530,administrator,advisor,ai,...,toxicology,translational,until,value,vice,vitro,vivo,vp,water,web
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [324]:
# concatenating dataframes to make predictions based on words
cvecframe = pd.concat([frame, cvecframe], axis=1)

In [326]:
pd.options.display.max_columns = 999

In [327]:
cvecframe.head()

,Company,Location,Salary,Titles,New Salary,SalaryII,SalaryIII,Avg Salary,High Salary?,Location1,City,11,12,13,1301,14,1529,1530,administrator,advisor,ai,algorithm,als,analysis,analyst,analytical,analytics,and,architect,assay,assistant,assoc,associate,aws,azure,bakery,based,behavioral,big,bio,bioinformatics,biology,biostatistician,biostatistics,business,cardiology,census,certifying,chancellor,charlotte,chemist,chemistry,chinese,clinical,cloud,cnup,coast,computational,computer,contracting,core,cyber,data,de,deep,deu,develop,developer,developers,development,diagnostic,digital,director,discovery,disease,doc,downtown,drug,ec,economist,embedded,engineer,engineering,engineers,enterprise,entry,environmental,epidemiologist,erlang,experimental,filled,finance,for,full,general,genetics,geoint,gg,government,green,gs,guard,gyn,gynecologic,hadoop,health,human,hydrologist,ii,iii,in,infectious,information,infrastructure,institute,institutional,integration,intelligence,interdisciplinary,java,jmw,jnt,junior,laboratory,language,lcms,lead,learning,level,machine,manager,marine,marketing,mathematical,medical,medicinal,metabolomics,mid,modeler,modeling,natural,nc,neuroscience,nlp,npo,ob,of,officer,oncology,open,operation,operations,part,pb,pediatrics,pharmacology,phd,physical,planner,polyglot,predictive,principal,processing,products,professional,program,programmer,project,prospect,python,qa,qi,quality,quantitative,radiation,radiology,reporting,reproductiv,research,researcher,rn,sas,science,sciences,scientist,securitized,security,senior,services,social,software,solution,spark,speaking,specialist,sql,sr,staff,startup,statistical,statistician,steward,supervising,supervisor,supervisory,survey,surveyor,survivability,system,systems,tableau,team,technician,technologist,threat,time,tlg,toxicology,translational,until,value,vice,vitro,vivo,vp,water,web
0,Corvid,"Charlotte, NC 28202 (Downtown Charlotte area)","[$35,000 - $45,000 a year]",Business Operations Associate,"[u'35,000 45,000 ']",35000.0,45000.0,40000.0,0,"[Charlotte, NC 28202 (Downtown Charlotte area)]",Charlotte,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Nityo Infotech Services Pvt. Ltd.,"Charlotte, NC","[$110,000 - $130,000 a year]","Machine Learning Developer - Charlotte, NC // ...","[u'110,000 130,000 ']",110000.0,130000.0,120000.0,1,"[Charlotte, NC]",Charlotte,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,Prospect Infosys Inc.,"Charlotte, NC","[$100,000 - $180,000 a year]",Sr Quantitative Finance Analyst,"[u'100,000 180,000 ']",100000.0,180000.0,140000.0,1,"[Charlotte, NC]",Charlotte,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Principle Solutions Group,"Charlotte, NC 28202 (Downtown Charlotte area)","[$140,000 - $160,000 a year]",Data Scientist,"[u'140,000 160,000 ']",140000.0,160000.0,150000.0,1,"[Charlotte, NC 28202 (Downtown Charlotte area)]",Charlotte,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Oliver James Associates,"Charlotte, NC","[$110,000 - $120,000 a year]",Senior Data Scientist,"[u'110,000 120,000 ']",110000.0,120000.0,115000.0,1,"[Charlotte, NC]",Charlotte,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [329]:
# Assigning values to X and y 
X1 = cvecframe.drop(['High Salary?', 'Titles', 'Location', 'Salary', 'Company', 'New Salary', 'SalaryII', 'SalaryIII', 
                 'Avg Salary', 'Location1', 'City', '11', '12', '13', '1301','14', '1529', '1530'], axis=1)
y1 = cvecframe['High Salary?']

In [330]:
model_1 = RandomForestClassifier()
model_1.fit(X1, y1)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [331]:
d = model_1.feature_importances_
zip(d, X1)

[(0.00037653725944831567, u'administrator'),
 (0.0012912006315410982, u'advisor'),
 (0.00019311637261175597, u'ai'),
 (0.0019951937923120143, u'algorithm'),
 (0.0, u'als'),
 (0.0044972620581028144, u'analysis'),
 (0.028760994007099756, u'analyst'),
 (0.00434836353885386, u'analytical'),
 (0.011148543911877546, u'analytics'),
 (0.00020200429019131974, u'and'),
 (0.0031451783975356253, u'architect'),
 (0.0, u'assay'),
 (0.0036608306448606838, u'assistant'),
 (0.0058772149167165026, u'assoc'),
 (0.0093336764598454108, u'associate'),
 (0.0049149774045045141, u'aws'),
 (0.0018011398594287172, u'azure'),
 (0.0089601444540816713, u'bakery'),
 (0.0020945990977872713, u'based'),
 (0.0017842818636374849, u'behavioral'),
 (0.0067764102067799882, u'big'),
 (0.0019287376857046283, u'bio'),
 (0.007288895567317012, u'bioinformatics'),
 (0.0, u'biology'),
 (0.0, u'biostatistician'),
 (0.0014140262730011424, u'biostatistics'),
 (0.0036770074376959996, u'business'),
 (0.0013223116938207576, u'cardiology'),
 (0.0064464200556301086, u'census'),
 (0.011250027081229285, u'certifying'),
 (0.0, u'chancellor'),
 (0.0011669000835361769, u'charlotte'),
 (0.0034007885041797718, u'chemist'),
 (0.00020969557269074384, u'chemistry'),
 (8.0764461916330121e-06, u'chinese'),
 (0.010999041071169486, u'clinical'),
 (0.0024521326689355394, u'cloud'),
 (0.00054919834103104692, u'cnup'),
 (0.00082379751154657032, u'coast'),
 (8.1921809476185582e-06, u'computational'),
 (0.0065827531799921681, u'computer'),
 (0.0, u'contracting'),
 (0.0017051470613731665, u'core'),
 (0.0027673890003230258, u'cyber'),
 (0.072603194208912147, u'data'),
 (0.0, u'de'),
 (0.010346986863750544, u'deep'),
 (0.0010350462336747332, u'deu'),
 (0.0013221973868175791, u'develop'),
 (0.0090996305233671474, u'developer'),
 (0.0023090392405012892, u'developers'),
 (0.0016537303535852804, u'development'),
 (0.0010307711423378399, u'diagnostic'),
 (0.0, u'digital'),
 (0.010971395879032411, u'director'),
 (0.0021157841717559626, u'discovery'),
 (0.00057536823917147487, u'disease'),
 (0.0, u'doc'),
 (0.0032589017208272618, u'downtown'),
 (0.006918822170382183, u'drug'),
 (0.0020128086138885993, u'ec'),
 (0.0, u'economist'),
 (0.00051300290263804128, u'embedded'),
 (0.02607358316540348, u'engineer'),
 (0.0062116135936465689, u'engineering'),
 (0.00070616456022697799, u'engineers'),
 (0.0035902755696370823, u'enterprise'),
 (0.0021413034608744001, u'entry'),
 (0.0037347455918557348, u'environmental'),
 (0.003425608713695876, u'epidemiologist'),
 (0.0026414642304497917, u'erlang'),
 (0.00040689985191543247, u'experimental'),
 (0.00028368256399799105, u'filled'),
 (0.00095918477034043713, u'finance'),
 (0.0014201517238475185, u'for'),
 (0.0, u'full'),
 (0.0024421863417223967, u'general'),
 (0.00021058245362201743, u'genetics'),
 (0.00029117375845358307, u'geoint'),
 (0.019629352255200794, u'gg'),
 (0.0034008652875342034, u'government'),
 (0.0013655060966651976, u'green'),
 (0.0025394091118002135, u'gs'),
 (0.0, u'guard'),
 (0.0, u'gyn'),
 (0.00016460708833863159, u'gynecologic'),
 (0.0019343341890548115, u'hadoop'),
 (0.016862389372669224, u'health'),
 (1.1937177952244182e-05, u'human'),
 (0.0077722405838723529, u'hydrologist'),
 (0.0052382820647487614, u'ii'),
 (0.0051273245686114209, u'iii'),
 (0.0011849393161199842, u'in'),
 (0.0010527494026211703, u'infectious'),
 (0.0, u'information'),
 (0.0023853058530800223, u'infrastructure'),
 (0.017686029750011326, u'institute'),
 (5.6617849409537427e-05, u'institutional'),
 (0.0055306974582023417, u'integration'),
 (0.0025858169379820669, u'intelligence'),
 (0.0011319287588536829, u'interdisciplinary'),
 (0.00012896415466263588, u'java'),
 (0.0, u'jmw'),
 (0.0, u'jnt'),
 (0.0050700403094539716, u'junior'),
 (0.0065880334639534192, u'laboratory'),
 (4.4764417320915401e-05, u'language'),
 (0.00072979663742289171, u'lcms'),
 (0.0092972584594266001, u'lead'),
 (0.041669965355502048, u'learning'),
 (0.0036937815594687293, u'level'),
 (0.0097988522971190137, u'machine'),
 (0.0056723418358187042, u'manager'),
 (0.0, u'marine'),
 (0.0, u'marketing'),
 (0.0047188826044640185, u'mathematical'),
 (0.00049988445717983406, u'medical'),
 (0.0, u'medicinal'),
 (0.0032542606161600879, u'metabolomics'),
 (0.0039421362576326476, u'mid'),
 (0.0010048151435993872, u'modeler'),
 (0.00072091365642122033, u'modeling'),
 (0.00042297915607524109, u'natural'),
 (0.0, u'nc'),
 (0.0031356908161356166, u'neuroscience'),
 (0.0, u'nlp'),
 (0.0063092780384892428, u'npo'),
 (8.6474706424562699e-05, u'ob'),
 (0.00032219115404168782, u'of'),
 (0.01028191069336928, u'officer'),
 (0.00066828974539427741, u'oncology'),
 (0.0, u'open'),
 (0.00079252385355799355, u'operation'),
 (0.0270206137956343, u'operations'),
 (0.0018930000363076578, u'part'),
 (0.0016343902928325175, u'pb'),
 (0.00019405064453902491, u'pediatrics'),
 (0.0, u'pharmacology'),
 (0.012097440772838346, u'phd'),
 (0.0004393586728248369, u'physical'),
 (0.0025524833533125523, u'planner'),
 (0.0087739933807794608, u'polyglot'),
 (0.0, u'predictive'),
 (0.00055232769264289315, u'principal'),
 (0.0, u'processing'),
 (0.0, u'products'),
 (0.0023260165031903164, u'professional'),
 (0.0035637414802112181, u'program'),
 (0.0051725022508770438, u'programmer'),
 (0.0011310766346302261, u'project'),
 (0.0019829892116496909, u'prospect'),
 (0.026616760983034789, u'python'),
 (0.0, u'qa'),
 (0.0, u'qi'),
 (0.00053285414487375311, u'quality'),
 (0.018965996072214195, u'quantitative'),
 (0.00031520284888665628, u'radiation'),
 (0.00098881009915050043, u'radiology'),
 (0.0037061366114517977, u'reporting'),
 (0.00010978324210204492, u'reproductiv'),
 (0.064040903630304055, u'research'),
 (0.0015759773069447165, u'researcher'),
 (0.00013818869635222458, u'rn'),
 (0.0064029748977185953, u'sas'),
 (0.010008860528922383, u'science'),
 (0.000133695950269678, u'sciences'),
 (0.036350743582664963, u'scientist'),
 (0.001462398421483243, u'securitized'),
 (1.9661234274284536e-05, u'security'),
 (0.04686091062197844, u'senior'),
 (0.0, u'services'),
 (0.00022530243471371552, u'social'),
 (0.013006179344951468, u'software'),
 (0.006298533581925397, u'solution'),
 (0.00059234835500500231, u'spark'),
 (0.00013107489516189693, u'speaking'),
 (0.0, u'specialist'),
 (0.008056966691317816, u'sql'),
 (0.015621956653854773, u'sr'),
 (0.010396194011444216, u'staff'),
 (0.0013239602864141304, u'startup'),
 (0.0071963308237389086, u'statistical'),
 (0.027418414633708022, u'statistician'),
 (0.0010095052376223536, u'steward'),
 (0.0003402139924093117, u'supervising'),
 (0.0019771140277117681, u'supervisor'),
 (0.0, u'supervisory'),
 (0.012400954023763715, u'survey'),
 (0.0005632343157603002, u'surveyor'),
 (0.004194157721864821, u'survivability'),
 (0.0062252886255314797, u'system'),
 (0.00078075369179593198, u'systems'),
 (0.00082762912787934012, u'tableau'),
 (5.3054124232197104e-05, u'team'),
 (0.0088790388785035933, u'technician'),
 (0.0042321992328320807, u'technologist'),
 (0.00027930861596597308, u'threat'),
 (0.0037215479007457705, u'time'),
 (0.0023857562764934086, u'tlg'),
 (0.00345136001417031, u'toxicology'),
 (0.0087160097448877941, u'translational'),
 (0.0, u'until'),
 (0.0, u'value'),
 (0.00010066012486481277, u'vice'),
 (0.0, u'vitro'),
 (0.0, u'vivo'),
 (0.0, u'vp'),
 (0.0, u'water'),
 (0.0020492399201472323, u'web')]

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy of the model, as well as any other metrics you feel are appropriate.

In [269]:
from sklearn.model_selection import GridSearchCV

In [271]:
# setting up parameters to grid search
n_estimators = [4, 8, 12]
criterion = ['gini', 'entropy']
max_depth = [1, 2, 4, 8]

# establishing model
model = RandomForestClassifier()

# grid searching
grid = GridSearchCV(estimator=model4, cv=3, param_grid=dict(n_estimators = n_estimators, criterion=criterion, max_depth=max_depth))

# fitting model
print(grid.fit(X1, y1))

GridSearchCV(cv=3, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': [4, 8, 12], 'criterion': ['gini', 'entropy'], 'max_depth': [1, 2, 4, 8]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [272]:
print grid.best_score_
print grid.best_estimator_.criterion
print grid.best_estimator_.n_estimators
print grid.best_estimator_.max_features

0.529411764706
gini
8
auto